<div class="card ">
                                <div class="card-title">
                                    <div class="card-header-title">
                                        <span>Who to Follow</span>
                                        <span class="icon"><i class="fas fa-sync"></i></span>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <ul class="ulist">
                                        <% @new_users.each do |userTF|%>
                                        <% if current_user.id != userTF.id%>
                                        <li>

                                            <figure class="image is-64x64">
                                                <a href="#">
                                                    <%= image_tag("#{userTF.photo}", :alt => userTF.full_name,:class=> "is-rounded" ) %>
                                                </a>
                                            </figure>
                                            <div class="info">
                                                <h4 class="uname">
                                                    <a href="#"><%= userTF.full_name %></a></h4>
                                                <div class="details">Followed by<a href="#"> Kerem Suer</a></div>
                                            </div>


                                        </li>
                                        <% end %>
                                        <% end %>
                                       
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <a class="card-footer-item">Popular Account</a>
                                    <a class="card-footer-item">Find Friends</a>
                                </div>
                            </div>