<%= form_for(user, url: create_following_path(user), method: :post) do |f| %>
    <%= f.hidden_field :user_id, value: user.id %>

    <button class="more">
            <span class=""><i class="fa fa-plus"></i></span>
    
    </button>
<% end %>