<div class="flash-container">
  <% if flash[:notice]%>
      <div class="notification is-primary">
        <button class="delete"></button>
          <p>
            <%= notice %>
          </p>
      </div>
    <% end %>
    <% if flash[:alert]%>
      <div class="notification is-danger">
        <button class="delete"></button>
          <p>
            <%= alert %>
          </p>
      </div>
    <% end %>
</div> 
   