   
   <% if flash[:notice]%>
      <div class="notification is-primary">
          <p>
            <%= notice %>
          </p>
      </div>
    <% end %>
    <% if flash[:alert]%>
      <div class="notification is-danger">
          <p>
            <%= alert %>
          </p>
      </div>
    <% end %>