<aside class="side-panel has-background-primary">
            <div class="user">

                <div class="details">
                    <div class="image">
                        <img src="https://placehold.it/200x200/fff/000" alt="">
                    </div>
                    <div class="name">
                        <span>Amadou Ibrahim</span>
                    </div>
                </div>
                <div class="stats">
                    <div class="following">
                        <div>
                            <p class="nb">184</p>
                            <p class="text">Following</p>
                        </div>
                    </div>
                    <div class="following">
                        <div>
                            <p class="nb">823</p>
                            <p class="text">Followers</p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="s_menu">
                <li class="is-active">
                    <a href="<%= posts_path%>">
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                        <span>HOME</span>
                    </a>
                </li>               
                
                <li>
                    <a href="<%= users_path%>">
                        <span class="icon">
                            <i class="fas fa-user"></i>
                        </span>
                        <span>Profile</span>
                    </a>
                </li>
              
            
            </ul>
        </aside>