<nav class="navbar is-info" role="navigation" aria-label="main navigation">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="/">
                                
                                <%= image_tag("logo.png", :alt => "logo") %>
                            </a>

                            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                                data-target="navbarBasicExample">
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                            </a>
                        </div>

                        <div id="navbarBasicExample" class="navbar-menu">


                            <div class="navbar-end">
                                <a href="#" class=" navbar-item has-text-black">
                                    <span class="icon"><i class="fa fa-pen"></i></span>
                                </a>
                                <a href="#" class=" navbar-item has-text-black">
                                    <span class="icon"><i class="fa fa-envelope"></i></span>
                                </a>
                                <a href="#" class=" navbar-item has-text-black">
                                    <span class="icon"><i class="fa fa-search"></i></span>
                                </a>
                                <a href="#" class=" navbar-item has-text-black">
                                    <span class="icon"><i class="fa fa-cog"></i></span>
                                </a>

                            </div>
                        </div>
                    </nav>