<nav class="level is-mobile">
    <div class="level-left">
    <a class="level-item  has-text-grey"  href="<%= post_path(post) %>">
        <span class="icon "><i class="fa fa-comment"></i></span>
        <span><%= post.comments.count||=0 %></span>
    </a>                                    
    
    <%= like_or_dislike_btn(post)%>
    </div>
</nav>